<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHeTHfZ6zZXj12pgtWhxquGHQhrL85qkI</string>
	<key>GCM_SENDER_ID</key>
	<string>987583780689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diaryApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>diaryapp7890</string>
	<key>STORAGE_BUCKET</key>
	<string>diaryapp7890.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987583780689:ios:471684f1c204e2aaa12570</string>
</dict>
</plist>